<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Sample Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	  
    <div class="container">
		<!-- This is page header for Upenn Gallery display -->
		<div class="page-header">
  			<h1>Upenn Gallery <small>Responsive grid output of data from images.json<span class="label label-default"> This is Sample Project for assesment purpose only</span></small></h1>
		</div>
	   <!-- This is Gallery super box to display 2x3 grid images -->
		<div id="gallerysuperbox"></div>
		
	</div>
 
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	  
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle/2.9999.8/jquery.cycle.all.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js" type="text/javascript"></script>
<script src="javascripts/main.js"></script>
		
<!-- This is template for JSON data display -->		
<script id="uphotostpl" type="text/template">
     
	{{#uphotos}}
		<div class="col-sm-4">	
			<div class="panel panel-default">
    			
    			<div class="panel-body">

	  			<a href="{{permalink}}" class="thumbnail">
     			<img src="{{media.images.standard_resolution.url}}" alt="{{caption}}" style="height:{{media.images.standard_resolutionl.width}};width:{{media.images.standard_resolution.width}};">
     			</a>
				<div class="caption">
                 	<p>{{caption}}</p> 
				 	<p><span class="label label-success">Posted by:{{username}}</span></p>
					<p><span class="label label-default">{{tags}}</span></p>	
	            </div>
		
				<div class="panel-body list-group-item">  
	            <p><span class="label label-danger">Follow On Instagram</span><a href="{{permalink}}"><img alt="Instagram" style="float:right; height:50px;width:50px;"  src="http://vignette2.wikia.nocookie.net/omori/images/5/58/Instagram-Icon.png/revision/20140619162853"></a></p>
				</div>
				
				
					<li class="list-group-item disabled">JSON Data</li>
					<li class="list-group-item  disabled"><span class="badge">ID</span>{{photoID}}</li>
					<li class="list-group-item  disabled"><span class="badge">Date</span>{{datetime}}</li>
					<li class="list-group-item disabled"><span class="badge">Time</span>{{display_time}}</li>

				</div>
				</div> 
  			</div>
		</div>	
		 
	{{/uphotos}}
		
</script>
		
</body>
</html>